<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Admin{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="{{ asset('bundles/framework/css/myCss.css') }}" type="text/css" media="all" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Le Ptit Coin</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Déposer une annonce</a></li>
      <li><a href="#">Offres</a></li>
    </ul>
  </div>
</nav>
        
        {% block body %}{% endblock %}
        <script type="text/javascript" src="web/bundles/framework/scripts/jquery.js"></script>
</body>
</html>